@import url(https://fonts.googleapis.com/css?family=Orbitron);

a:link {
    color: blue;
}
a:visited {
    color: green;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}

body * {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
}

div.head h1 {
    text-align: center;
    font-family: "Orbitron", cursive;
}

.foot h3 {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}
