a:link {
    text-decoration:none;
}

a:visited{
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    font-weight:bold;
    background-color:yellow;
}

a:active {
    text-decoration:none;
}

div {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
    font-size: 14px;
}

thead th {
    background-color: lightgrey;
    text-align: center;
}
